<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ site.title }}</title>
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}" />
  </head>
  <body>
    <main>
      {{ content }}
    </main>
  </body>
</html>
